---
# Secrets LOGISTIA — NE PAS VERSIONNER (couvert par .gitignore)
logistia_admin_password: "CHANGE_ME"
logistia_misp_admin_password: "CHANGE_ME"
logistia_misp_authkey: "CHANGE_ME"
logistia_cortex_api_key: "CHANGE_ME"
logistia_thehive_api_key: "CHANGE_ME"
logistia_minio_password: "CHANGE_ME"
