proxmox_url     = "https://192.168.10.150:8006"
proxmox_user    = "terraform-logistia@pve"
proxmox_token   = "VALEUR_TOKEN_LOGISTIA"
proxmox_node    = "PVE"
proxmox_storage = "local-lvm"
ssh_public_key  = "ssh-ed25519 AAAA..."
vmid_start      = 100
