[defaults]
inventory           = logistia-inventory.ini
roles_path          = roles
host_key_checking   = False
private_key_file    = ~/.ssh/logistia_ed25519
remote_user         = logistia
retry_files_enabled = False
